#{include file="./header.html"}

<div class="content-wrapper">
    <div class="container">
        <!--            网站联系部分-->
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col">
                            <p class="card-title" style="margin: 0;">店铺名称: <span>#{$site.title}</span></p>
                            <p class="card-title" style="margin: 0;">商家ＱＱ: <span>#{$user.qq}</span><i
                                    class="icon-qq iconfont"></i></p>
                        </div>
                        <div class="col text-right">
                            <a class="btn btn-success btn-sm btn-round"
                               href="http://wpa.qq.com/msgrd?v=1&uin=#{$user.qq}" target="_blank">帮助</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--            公告部分-->
        <div class="card">
            <div class="card-header">
                <p class="card-title">公告</p>
            </div>
            <div class="card-block">
                #{$site.notice}
            </div>
        </div>


        <!--            选择商品部分-->
        <div class="card">
            <div class="card-header">
                <p class="card-title">购买</p>
            </div>
            <div class="card-block">
                <fieldset class="form-group">
                    <label for="type" style="font-size: 14px;">请选择商品分类</label>
                    <div id="type">
                        #{foreach $category as $cate}
                        <span class="button-click" onclick="categoryClick(this,'#{$cate.id}')" #{if
                              $cate.commodity_count== 0}style="background-color: #ced4dadb;opacity: 0.6;" #{/if}>#{$cate.name}</span>
                        #{/foreach}
                    </div>
                </fieldset>

                <fieldset class="form-group product" style="display: none;">
                    <label for="product" style="font-size: 14px;">请选择商品</label>
                    <div id="product"></div>
                </fieldset>
            </div>
        </div>

        <!--            商品简介部分-->
        <div class="card animated fadeInLeft shopInfoHtml" style="display: none;"></div>


        <!--            付款部分-->
        <div class="card animated fadeInLeft" style="display: none;">
            <div class="card-header">
                <p class="card-title">付款方式:</p>
            </div>
            <div class="card-block">
                <div class="row" style="margin-left: 0px;">
                    #{foreach $pay as $p}
                    <span class="button-click" onclick="Buy('#{$p.id}')" style="line-height: 22px;"> <img
                            src="#{$p.face}" style="width: 16px;"> #{$p.name}</span>
                    #{/foreach}
                </div>
            </div>
        </div>

        #{if $site.statistics == 1}
        <style>
            .fl-lf{
                float: left;
                width: 30%;
                margin: 0;

                display: flex;
                /*左右居中*/
                justify-content: center;
                /*上下居中*/
                align-items: center;
            }
            .fl-lf2{
                float: left;
                width: 30%;
                margin: 0;
                height: 60px;
                display: flex;
                /*左右居中*/
                justify-content: center;
                /*上下居中*/
                align-items: center;
                font-weight: bold;
                color: rgba(255, 77, 154, 0.42);
            }
        </style>

        <!--            统计部分-->
        <div class="card">
            <div class="card-block" style="padding: 0 !important;display: flex;margin-top: 10px;" >
                <div class="fl-lf2" style="border-right: #ECEFF1 1px solid;">
                    <i class="fa fa-shopping-cart"></i> <span style="margin-left: 5px;">今日交易</span>
                </div>
                <div class="fl-lf2" style="border-right: #ECEFF1 1px solid;"><i class="fa fa-star-half-o"></i><span style="margin-left: 5px;">今日订单</span></div>
                <div class="fl-lf2" style="border-right: #ECEFF1 1px solid;"><i class="fa fa-modx"></i><span style="margin-left: 5px;">总交易</span></div>
                <div class="fl-lf2"><i class="fa fa-star"></i><span style="margin-left: 5px;">总订单</span></div>
            </div>
            <div class="card-block" style="padding: 0 !important;display: flex;padding-bottom: 20px !important;" >
                <div class="fl-lf" style="border-right: #ECEFF1 1px solid;">
                    <span style="color: rgba(255,153,171,0.84);font-weight: bold;">#{$statistics['todaySuccessAmount']}</span>
                </div>
                <div class="fl-lf" style="border-right: #ECEFF1 1px solid;">
                    <span style="color: rgba(255,153,171,0.84);font-weight: bold;">#{$statistics['todaySuccessCount']}</span>
                </div>
                <div class="fl-lf" style="border-right: #ECEFF1 1px solid;">
                    <span style="color: rgba(255,153,171,0.84);font-weight: bold;">#{$statistics['allSuccessAmount']}</span>
                </div>
                <div class="fl-lf">
                    <span style="color: rgba(255,153,171,0.84);font-weight: bold;">#{$statistics['allSuccessCount']}</span>
                </div>
            </div>
        </div>

        #{/if}
    </div>
</div>
</div>


<script>
    let map = [];
    let ws = [];
    let commodityId = 0;
    let price = 0;
    let orderPrice = 0;

    let shopInfoHtml = '<div class="card-header">\n' +
        '                <p class="card-title">商品信息:</p>\n' +
        '            </div>\n' +
        '           <form id="buyForm"> <div class="card-block">\n' +
        '                <div class="row">\n' +
        '                    <div class="col-md-5 description"></div>\n' +
        '                    <div class="col-md-7">\n' +
        '                        <h4 class="productName" style="margin-bottom: 20px;"></h4>\n' +
        '                        <p>商品单价： <span class="text-success price"\n' +
        '                                       style="font-weight: bolder;font-size: 18px"></span>\n' +
        '                        </p>\n' +
        '                        <p>发货方式： <span class="badge badge-pill text-white cardType">...</span></p>\n' +
        '                        <fieldset class="form-group">\n' +
        '                            <label style="display: inline-block;">联系方式：</label>\n' +
        '                            <input class="form-control round contact" name="contact" placeholder="">\n' +
        '                        </fieldset><div class="hookExt"></div>\n' +
        '\n' +
        '                        #{if $site.pass == 1}\n' +
        '                        <fieldset class="form-group">\n' +
        '                            <label style="display: inline-block;">查询密码：</label>\n' +
        '                            <input class="form-control round pass" name="pass" placeholder="查询订单时的密码..">\n' +
        '                        </fieldset>\n' +
        '                        #{/if}\n' +
        '\n' +
        '                        <fieldset class="form-group voucher-view" style="display: none;">\n' +
        '                            <label style="display: inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;优惠卷：</label>\n' +
        '                            <input class="form-control round voucher" name="voucher" placeholder="如果您有优惠卷可以填写优惠卷，没有可不填写">\n' +
        '                        </fieldset>\n' +
        '\n' +
        '                        <fieldset class="form-group">\n' +
        '                            <label>购买数量：</label>\n' +
        '                            <input class="form-control round buyNum" name="num" type="number" style="width: 10%;" value="1">\n' +
        '                            <span style="margin-left: 10px;" class="kucunView"> 剩余库存: <span\n' +
        '                                    class="badge badge-pill badge-success text-white card_count"></span></span>\n' +
        '                        </fieldset>\n' +
        '\n' +
        '                        <p style="display: none;" class="payAmountView">支付金额： <span class="text-danger payAmount"></span></p>\n' +
        '\n' +
        '                        <fieldset class="form-group wholesale" style="display: none;">\n' +
        '                            <label style="color: #007bff;font-size: 14px;">批发优惠已开放</label>\n' +
        '                            <div style="font-size: 12px;color: red;" class="wholesaleHtml">\n' +
        '                            </div>\n' +
        '                        </fieldset>\n' +
        '                    </div>\n' +
        '                </div>\n' +
        '            </div></form>';

    let switchElement = function (obj) {
        $('.checked').removeClass('checked');
        $(obj).addClass('checked');
    };

    let categoryClick = function (obj, cateId) {
        switchElement(obj);
        $('.fadeInLeft').hide();
        $('.product').hide();
        let layIndex = layer.load(1, {
            shade: [0.3, '#fff'] //0.1透明度的白色背景
        });
        $.post('/index/api/shop/getCommodity', {categoryId: cateId}, res => {
            layer.close(layIndex);
            $('#product').html('');
            if (res.data.length == 0) {
                layer.msg("该分类下没有商品");
                return;
            }
            $('.product').show(150);
            res.data.forEach(item => {
                map[item.id] = item;
                $('#product').append('<span class="button-click" onclick="commodityClick(this,' + item.id + ')" ' + ((item.card_count == 0 && item.card_type == 0) ? 'style="background-color: #ced4dadb;opacity: 0.6;"' : '') + '>' + item.name + '</span>');
            });
        });
    };

    let getPrice = function () {
        let num = $('.buyNum').val();
        if (parseInt(num) <= 0 || num === "") {
            num = 1;
            $('.buyNum').val(1);
        }
        let layIndex = layer.load(1, {
            shade: [0.3, '#fff'] //0.1透明度的白色背景
        });
        $.post('/index/api/order/getTradeAmount', {
            num: num,
            voucher: $('.voucher').val(),
            commodityId: commodityId
        }, res => {
            layer.close(layIndex);
            if (res.code == 200) {
                $('.payAmountView').show(50);
                $('.payAmount').html("<b style='font-size:16px;color: red;'>" + res.data.amount.toFixed(2) + " 元</b>" + (res.data.voucher != 0 ? ' <span style="color: #0000FF;font-size: 14px;"><优惠卷已优惠' + res.data.voucher + '元> </span>' : ''));
                $('.price').html("¥" + res.data.price);
                orderPrice = res.data.amount.toFixed(2);
            } else {
                layer.msg(res.msg);
            }
        });
    }

    let commodityClick = function (obj, id) {
        $('.fadeInLeft').hide();
        $('.shopInfoHtml').html(shopInfoHtml);

        $('.buyNum').change(function () {
            getPrice();
        });

        $('.voucher').change(function () {
            getPrice();
        });

        commodityId = id;
        switchElement(obj);
        let info = map[id];
        //解析json
        let parse = JSON.parse(info.input_ext);
        //开始渲染自定义信息
        if (parse != null) {
            let hookExt = $('.hookExt');
            parse.forEach(ext => {
                let isDefault = ext.default != "" && ext.hasOwnProperty('default') && ext.default != null;
                let html;
                switch (ext.type) {
                    //文本框
                    case 'text':
                        hookExt.append('<fieldset class="form-group">\n' +
                            '                            <label style="display: inline-block;">' + ext.title + '：</label>\n' +
                            '                            <input type="text" value="' + (isDefault ? ext.default : "") + '" name="' + ext.name + '" class="form-control round" placeholder="' + ext.tips + '">' +
                            '                        </fieldset>');
                        break;
                    case 'password':
                        hookExt.append('<fieldset class="form-group">\n' +
                            '                            <label style="display: inline-block;">' + ext.title + '：</label>\n' +
                            '                            <input type="password" value="' + (isDefault ? ext.default : "") + '" name="' + ext.name + '" class="form-control round" placeholder="' + ext.tips + '">' +
                            '                        </fieldset>');
                        break;
                    case 'textarea':
                        hookExt.append('<fieldset class="form-group">\n' +
                            '                            <label style="display: inline-block;position: relative;top: -' + (ext.height - 20) + 'px;">' + ext.title + '：</label>\n' +
                            '                          <textarea style="height: ' + ext.height + 'px;" class="form-control round" name="' + ext.name + '" placeholder="' + ext.tips + '">' + (isDefault ? ext.default : "") + '</textarea> ' +
                            '                        </fieldset>');
                        break;
                    //下拉框
                    case 'select':
                        html = '<fieldset class="form-group"><label style="display: inline-block;">' + ext.title + '：</label><select style="margin-left: 4px;" class="form-control round" name="' + ext.name + '"><option value="">' + ext.tips + '</option>';
                        for (let key in ext.contents) {
                            html += '<option value="' + key + '" ' + (isDefault && key == ext.default ? 'selected' : '') + '>' + ext.contents[key] + '</option>';
                        }
                        html += '</select></fieldset>';
                        hookExt.append(html);
                        break;
                    //单选框
                    case 'radio':
                        html = '<fieldset class="form-group"><label style="display: inline-block;">' + ext.title + '：</label><span style="margin-left: 4px;" ></span>';
                        for (let key in ext.contents) {
                            html += '<label style="margin-right: 5px;position: relative;top: 1px;"><input ' + (isDefault && key == ext.default ? 'checked' : '') + ' type="radio" name="' + ext.name + '" value="' + key + '"> ' + ext.contents[key] + '</label> ';
                        }
                        html += '</fieldset>';
                        hookExt.append(html);
                        break;
                    case 'checkbox':
                        html = '<fieldset class="form-group"><label style="display: inline-block;">' + ext.title + '：</label><span style="margin-left: 4px;" ></span>';
                        for (let key in ext.contents) {
                            html += '<label style="margin-right: 5px;position: relative;top: 1px;"><input ' + (isDefault && ext.default.indexOf(key) != -1 ? 'checked' : '') + ' type="checkbox" name="' + ext.name + '[]" value="' + key + '"> ' + ext.contents[key] + '</label> ';
                        }
                        html += '</fieldset>';
                        hookExt.append(html);
                        break;
                }
            });
        }
        $('.description').html(info.desc == null ? '' : info.desc.replace(/\n/g, "<br>"));
        $('.productName').html(info.name);
        $('.price').html("¥" + info.price);
        //判断发货类型
        if (info.card_type == 1) {
            //手动发货
            $('.cardType').html('手动发货');
            $('.cardType').addClass('badge-danger');
            $('.kucunView').hide();
        } else {
            $('.cardType').html('自动发货');
            $('.cardType').addClass('badge-success');
            $('.card_count').html(info.card_count);
        }

        orderPrice = info.price;
        price = info.price;
        $('.contact').attr("placeholder", info.contact_tips);
        if (info.voucher_status == 1) {
            $('.voucher-view').show();
        }

        if (info.wholesale_status == 1) {
            let list = info.wholesale.trim().split("\n");
            list.forEach(item => {
                let s = item.split('-');
                if (s.length == 2) {
                    ws[s[0]] = s[1];
                }
            });
            let x = '';
            ws.forEach((money, num) => {
                x += '<div>一次性购买' + num + '张，单价自动调整为：<b>' + money + '</b>元</div>';
            });
            if (ws.length > 0) {
                $('.wholesale').show();
                $('.wholesaleHtml').html(x);
            }
        }
        $('.fadeInLeft').show(150);
        getPrice();
    };

    let Buy = function (payId) {
        var mapElement = map[commodityId];
        let buyNum = $('.buyNum').val();
        layer.confirm('您购买的商品是 <b style="color: #0ace36;font-size: 18px;">' + mapElement.name + '</b>，购买数量：<b style="color: blue;font-size: 18px;font-weight: bold;">' + buyNum + '</b>个，需支付金额：<b style="color: red;font-weight: bold;font-size: 18px;">' + orderPrice + ' 元</b>，请确认是否要继续购买？', {
            btn: ['<span style="color: white;">确认</span>', '取消'] //按钮
        }, function () {
            let layIndex = layer.load(1, {
                shade: [0.3, '#fff'] //0.1透明度的白色背景
            });
            $.post('/index/api/order/trade', "payId=" + payId + "&device=" + pay.device() + "&commodityId=" + commodityId + "&" + $('#buyForm').serialize(), res => {
                layer.close(layIndex);
                if (res.code == 200) {
                    if (res.data.amount == 0) {
                        window.location.href = '/index/query?tradeNo=' + res.data.tradeNo;
                    } else {
                        window.location.href = res.data.url;
                    }
                } else {
                    layer.msg(res.msg);
                }
            });
        });
    }
</script>
</body>
</html>