</div>

<!-- Javascript -->
<script src="/assets/admin/assets/bundles/libscripts.bundle.js"></script>
<script src="/assets/admin/assets/bundles/vendorscripts.bundle.js"></script>

<script src="/assets/admin/assets/vendor/toastr/toastr.js"></script>

<script src="/assets/admin/assets/bundles/mainscripts.bundle.js"></script>
<script src="/assets/static/layui/layui.js"></script>
<script src="/assets/admin/xm-select.js"></script>
<script src="/assets/static/clipboard.js"></script>

<script>
    $('#main-content').css("min-height", ($(document).height()-60) + "px");
</script>
</body>
</html>
