#{include file="./header.html"}
<div id="main-content">

    <div class="container-fluid" style="margin-top: 20px">
        <div class="row clearfix">

            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>支付配置</h2>
                    </div>
                    <div class="body">
                        <table id="pay-platform" lay-filter="pay-platform"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {
        layui.use(['table', 'hex'], function () {
            let table = layui.table;
            var cao = layui.hex;

            var tableInstance = table.render({
                elem: '#pay-platform'
                , skin: 'nob'
                , size: 'lg'
                , height: 740
                , url: '/admin/api/pay/getPlatforms'
                , page: false
                , method: "post"
                , response: {
                    statusCode: 200
                }
                , cols: [[
                    {
                        field: 'name', title: '平台名称', templet: function (item) {
                            return item.info.name;
                        }, width: 200
                    }
                    , {
                        field: 'site', title: '平台官网', templet: function (item) {
                            return '<a href="' + item.info.site + '" target="_blank">' + item.info.site + '</a>';
                        }, width: 200
                    }
                    , {
                        field: 'desc', title: '简介', templet: function (item) {
                            return item.info.desc;
                        }, width: "60%"
                    }
                    , {
                        templet: function (item) {
                            return '<button type="button" data-id="' + item.id + '" class="btn btn-info layui-btn-xs edit"><i class="fa fa-cog"></i> 商户配置</button>';
                        }
                    }
                ]],
                done: res => {
                    cao.setIdMap(res.data);

                    $('.edit').click(function () {
                        let mapItem = cao.getMapItem(this);
                        modal(mapItem);
                    });
                }
            });

            let modal = (values = {}) => {
                cao.popup('/admin/api/pay/editPlatformConfig', values.submit, res => {
                    tableInstance.reload();
                }, values);
            }
        });
    });
</script>

#{include file="./footer.html"}